<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit  data</title>
</head>
<body>
    <form action="/listing/edit" method="POST">
        <h2> Create a new Listing</h2>
        <input type="text"  name="listing[title]" value=""><br><br>
        <input type="text"name="listing[description]" placeholder=" Add you description"><br><br>
        <input type="text" name="listing[image]" placeholder=" Add your villa image"><br><br>
        <input type="text" name="listing[price]" placeholder="Enter your charges per day wise" > <br><br>
        <input type="text" name="listing[location]" placeholder=" enter your location"><br><br>
        <input type="text"name="listing[country]" placeholder="Enter your country"><br><br>
        <button> submit</button>

    </form>
</body>
</html>