<% layout("/layout/boilerplate")%>

    <body>
        <form action="/listing" method="POST" novalidate class="needs-validation"  enctype="multipart/form-data">
            <br>
            <div class="row">
                <div class="col-6 offset-3">
                    <h1> New Listing</h1>

                    <div class="mb-3">
                        <label for="title" class="form-label">Title </label>
                        <input type="text" name="listing[title]" placeholder="Enter your title" required
                            class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="listing[description]" placeholder=" Add you description"
                            class="form-control" required>
                        <div class="invalid-feedback">
                            Please write description
                        </div>

                    </div>


                       <!-- used to set image into your local system  for example img .doc .png file-->
                     <div class="mb-3">
                        <label for="image" class="form-label"> Upload listing Image</label>
                        <input type="file" name="listing[image]" 
                            class="form-control">
                            required


                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="Charge" class="form-control" required>

                            <div class="invalid-feedback">
                                Please enter amount
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" placeholder="Enter Your location"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Enter Location

                            </div>
                        </div>


                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter your country" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Enter country Name

                        </div>
                    </div>



                    <button class="btn  btn-dark mb-3  add-btn">Add</button>

        </form>
        </div>
        </div>